/* CSS Reference from W3School: https://www.w3schools.com/cssref/ */

/* Example Variables */
:root {
	/* Fonts */
	--font-family1: 'Akaya Telivigala', cursive;
    --font-family2: 'Kanit', sans-serif;
    --font-family3: 'Open Sans', sans-serif;
    --font-family4: 'Righteous', cursive;
    
	/* Colors */
	--main-color-gray: #485359;
	--main-color-white: #e9f0f2;
	--main-color-black: #0d0d0d;
	--main-color-light: #5ef2ad;
	--main-color-dark: #45735d;
	--main-color-light2: #f38888;
	--main-color-dark2: #d27575;
	--main-color-light3: #a0d3f2;
	--main-color-dark3: #769bb3;
}

/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* Example Syntax */
.intro {
    position: relative;
    background-color: beige;
    padding: 1px;
    
}



.first {
    position: relative;
    left: 300px
       
}

.name {
    font-family: 'Kanit', sans-serif;
    font-variant-caps: small-caps;
    position: absolute;
    top: 0;
    background-color:
    
}

.contact {
    position: absolute;
    right: 0;
        
}

.home { 
    position: absolute;
    right: 0;
    bottom: 0;
}

#Portfolio {
	height:
	background-color: var(--main-color-dark);
    font-family: 'Righteous', cursive;
}

#project1 {
    position: relative;
    left: 200px;
	height: 90vh;
	background-color: ;
    font-family: 'Righteous', cursive;
        
    
}

#project2 {
    position: relative;
    left: 50px;
	height: 70vh;
	background-color: ;
    font-family: 'Righteous', cursive;
}

#project3 {
	height: 45vh;
	background-color: var(--main-color-light3);
    font-family: 'Akaya Telivigala', cursive;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
